.wy-nav-content {
  max-width: 100%;
}

.wy-table-responsive {
  overflow: visible !important;
}

.wy-table-responsive table td {
  white-space: normal !important;
}

.wy-side-nav-search {
  background-color: #800080;
}

.wy-nav-side {
  background-color: rgb(34, 39, 46);
}

.wy-nav-top {
  background-color: #800080;
}

/* Adding Color to the page on the edges of the content  */
.wy-nav-content {
  background-clip: content-box;
  box-shadow: inset 0 0 0 1.616em #a74aa7;
}
